<form name="accountForm" ng-submit="update()" accept-charset="UTF-8">
	<fieldset>
		<label>Login</label>
		<input type="tel" name="username" ng-model="account.username" placeholder="01 02 03 04 05" ui-mask="99 99 99 99 99" required/>
		<label>Password</label>
		<input type="password" name="password" ng-model="account.password" placeholder="password" required/>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary" ng-disabled="accountForm.$invalid">Update</button>
			<span class="text-error">{{error}}</span>
		</div>
	</fieldset>
</form>